@import "tailwindcss";

@font-face {
  font-family: ArboriaBook;
  src: url(./assets/fonts/ArboriaBook.ttf);
}

::-webkit-scrollbar {
  width: 6px;
}

::-webkit-scrollbar-track {
  background: transparent;
}

::-webkit-scrollbar-thumb {
  background: #673bf6;
  border-radius: 999px;
}

::-webkit-scrollbar-thumb:hover {
  background: #2563eb;
}

